@media screen and (max-width: 800px) {
    /* estilos main */
.hero {
    width: 100%;
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container-main {
    height: 120vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 0;
}

.main-img {
    max-height: 280px;
    max-width: 320px;
    border-radius: 10px;
}
.fade-in-image {
    height: 50%;
}
.container-texto {
    width: 90%;
    height: 48%;
    display: flex;
    flex-direction: column;
}
.container-texto h1 {
    line-height: 44px;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.container-texto h2 {
    font-size: 18px;
    line-height: 30px;
}
/* boton whatsapp */
.fav-btn {
    left: 88%;
}
/* estilos about */
.about {
    height: 230vh;
}
.container-about {
    height: 200vh;
    flex-direction: column-reverse;
}
.container-about-img {
    width: 100%;
    height: auto;
    margin-top: 60px;
}
.mySlides {
    max-width: 380px;
    max-height: 340px;
}
.container-about-texto {
    width: 100%;
    max-height: 150vh ;
}
/* estilos news */
.news {
    height: 200vh;
    display: flex;
    justify-content: center;
}
.container-news {
    height: 200vh;
}
.container-cards-news {
    height: 150vh;
    flex-wrap: wrap;
}
.cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.cards img {
    width: 250px;
    height: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}
.cards h3 {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }

/* estilos social */
.social {
    height: 300vh;
}
.container-social {
    height: 300vh;
}
.container-feed-redes {
    flex-direction: column;
    align-items: center;
    height: 250vh;
}
.feed {
    margin-top: 20px;
}
/* estilos multimedia */
.multimedia {
    height: 250vh;
}
.container-videos {
    height: 150vh;
    flex-direction: column;
    align-items: center;
}

/*footer*/
.container-footer {
    height: 80vh;
}
}
@media screen and (max-width: 1024px) {
    /* estilos main */

.container-main {
    width: 90%;
    height: 80vh;
}
/* estilos about */
.container-about {
    width: 90%;
    height: 90vh;
}
.container-about-texto {
    width: 50%;
}
/* estilos news */

.container-news {
    margin: 0;
}

.container-cards-news {
    width: 100%;
}

.cards img {
    width: 240px;
    height: auto;
}
.container-videos iframe{
    height: 315px;
    width: 560px;
}
}
@media screen and (max-width: 1300px) {
    
    .about {
        height: 130vh;
    }
    .container-about-texto p {
        font-size: 12px ;
    }
    .container-about-texto p:nth-child(2) {
        font-size: 18px;
        line-height: inherit;
        font-family: 'Ubuntu', sans-serif;
        color: #398AB9;
    }
    .news {
        height: 130vh;
    }
    .container-news {
        height: 100vh;
    }
    .social {
        height: 130vh;
    }
.container-social {
    width: 100%;
    height: 100vh;
}
.container-feed-redes {
    width: 100%;
    height: 100vh;
    margin: 0;
}
.multimedia {
    height: 130vh;
}
.container-multimedia {
    height: 130vh;
}
.container-videos {
    height: 100vh;
}
.container-videos iframe{
    height: 315px;
    width: 560px;
}
}
