body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: #03045E ;
    -webkit-font-smoothing: antialiased;
}

/* estilos header y nav */

header {
    background-color: #03045E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1;
    filter: opacity(0.8);
}
.header-logo{
    margin-left: 35px;
    width: 250px;
    margin-top: 25px;
}
nav ul li a {
    color: #EEEEEE;
    text-decoration: none;
    font-size: 18px;
}
nav ul li {
    list-style-type: none;
}
nav {
    width: 65%;
    margin-top: 20px;
}
ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
.submenu {
    display: flex;
    flex-direction: column;
    display: none;
    height: auto;
}
.desplegable:hover .submenu {
    display: block;
}
.submenu li  {
    background-color: #398AB9;
    width: 120px;
    height: 25px;
    border-bottom: 0.2px solid rgb(190, 190, 190);
    padding: 5px;
    margin-top: 2px; 
    border-radius: 5px;
}
.submenu li:hover {
    background-color:#03045E;
}

/* estilos main */

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
}
.container-main {
    width: 90%;
    height: 80vh;
    background: rgb(216,210,203);
    background: linear-gradient(180deg, rgba(216,210,203,1) 12%, rgba(238,238,238,1) 62%);
    border-radius: 10px;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.main-img {
    max-height: 600px;
    max-width: 550px;
    border-radius: 10px;
}
.container-texto {
    width: 40%;
    max-height: 500px;
    display: flex;
    flex-direction: column;

}
.container-texto h1 {
    color: #072227;
    text-align: left;
    font-size: -webkit-xxx-large;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 60px;
    text-shadow: 1px -1px 3px rgba(47,44,44,0.57);
}
.container-texto h2 {
    color: #398AB9;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 35px;
}
.btn-contact {
    height: 30px;
    width: 135px;
    border-radius: 20px;
    font-weight: 700;
    text-decoration: none;
text-align: center;
padding-top: 9px;
background-color: #F15412;
color: #fff;
box-shadow: 0px 5px 8px -2px rgba(56,51,51,0.75);
-webkit-box-shadow: 0px 5px 8px -2px rgba(56,51,51,0.75);
-moz-box-shadow: 0px 5px 8px -2px rgba(56,51,51,0.75);
margin-top: 20px;
}

.btn-contact:hover {
    background-color:#f78656 ;
}

/* boton whatsapp */
.fav-btn img {
    width: 55px;
    height: 55px;
}
.fav-btn {
    background-color: transparent;
    border: none;
    top: 87%;
    left: 92%;
    position: fixed;
    z-index: 1;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 0;
    box-shadow: -1px 0px 4px 0px rgba(107,98,98,0.75);
-webkit-box-shadow: -1px 0px 4px 0px rgba(107,98,98,0.75);
-moz-box-shadow: -1px 0px 4px 0px rgba(107,98,98,0.75);
}
.fav-btn:hover {
    background-color: #fff;
}

/*boton youtube */
.fav-btn-yt img {
    width: 55px;
    height: 55px;
}
.fav-btn-yt {
    background-color: transparent;
    border: none;
    top: 75%;
    left: 92%;
    position: fixed;
    z-index: 1;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 0;
    box-shadow: -1px 0px 4px 0px rgba(107,98,98,0.75);
-webkit-box-shadow: -1px 0px 4px 0px rgba(107,98,98,0.75);
-moz-box-shadow: -1px 0px 4px 0px rgba(107,98,98,0.75);
}
.fav-btn-yt:hover {
    background-color: #fff;
}
/* estilos about */
.about {
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120vh;
}
.container-about {
    width: 90%;
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: #fff;
}
.container-about-img {
    width: 50%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mySlides {
    width: 400px;
    height: 340px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}
.container-about-texto {
    width: 45%;
    max-height: 120vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.container-about-texto p {
    flex: 1 1 auto;
    font-size: 14px ;
    line-height: 18px;
    letter-spacing: 2px;
    color: #072227;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.container-about-texto h2 {
    font-size: 18px;
    font-weight: 500;
color: #F15412;
margin-bottom: 20px;
border-bottom: 2px solid;
    padding-bottom: 10px;
}
.container-about-texto p:nth-child(2) {
    font-size: 20px;
    line-height: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #398AB9;
    font-weight: 400;
}
.container-btn-about {
  display: flex;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
/* estilos news */
.news {
    width: 100%;
    height: 130vh;
    background-color: #01023f;
    display: flex;
    justify-content: center;
}
.container-news {
    width: 90%;
    height: 100vh;
    margin: 90px 70px 70px 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container-news h2 {
    font-size: 18px;
    font-weight: 500;
color: #F15412;
margin-bottom: 20px;
border-bottom: 2px solid;
    padding-bottom: 10px;
    width: fit-content;
}
.container-cards-news {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.cards {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-left: 20px;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.85);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.13);
}
.cards h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  align-self: self-start;
  margin-left: 20px;
  font-weight: 600;
  color: #03045E;
}
.cards img {
    width: 300px;
    height: auto;
}
.cards p {
    flex: 1 1 auto;
    font-family: 'ubuntu', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1C658C;
}
.audio-radio {
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
}
.btn-noticia {
    height: 30px;
    width: 80%;
    border-radius: 20px;
    font-weight: 700;
    text-decoration: none;
text-align: center;
padding-top: 9px;
background-color: #EEEEEE;
color: #F15412;
margin-bottom: 10px;

}
.btn-noticia:hover {
    background-color: #D8D2CB ;
}

/* estilos social */
.social {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.container-social {
    width: 90%;
    height: 100vh;
    margin: 90px 70px 70px 90px;
}
.container-social h2 {
    font-size: 18px;
    font-weight: 500;
color: #F15412;
margin-bottom: 60px;
border-bottom: 2px solid;
    padding-bottom: 10px;
    width: fit-content;
}
.container-feed-redes {
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    margin-left: 35px;
}
.feed {
    max-width: 325px;
    max-height: 350px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px -3px rgba(117,115,115,0.72);
-webkit-box-shadow: 0px 4px 12px -3px rgba(117,115,115,0.72);
-moz-box-shadow: 0px 4px 12px -3px rgba(117,115,115,0.72);
}
/* estilos multimedia 
.multimedia {
    width: 100%;
    height: 110vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.container-multimedia {
    width: 90%;
    height: 80vh;
    margin: 90px 70px 70px 90px;
}
.container-multimedia h2 {
    font-size: 18px;
    font-weight: 500;
color: #F15412;
margin-bottom: 60px;
border-bottom: 2px solid;
    padding-bottom: 10px;
    width: fit-content;
}
.container-videos {
    width: 90%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    margin-left: 35px;
}
.container-videos iframe {
    margin-left: 20px;
    width: 450px;
    height: 315px;
}
.container-cortaLaBocha {
    width: 90%;
    height: 5vh;
    display: flex;
    align-items: center;
}
.container-cortaLaBocha img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.container-cortaLaBocha a{
    font-size: 18px;
}*/

/*estilos footer*/
.footer-contact {
    width: 100%;
    background-color: #01023f;
    padding-bottom: 50px;
    display: flex;
}
.container-footer {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    padding-top: 70px;
}
.container-footer ul {
    display: inline;
}
.container-datosContacto {
    width: 50%;
    height: 50vh;
    display: inline-grid;
    justify-content: center;
}
.container-datosContacto h4 {
    color: #fff;
    margin-top: 0;
}
.datos-contacto li {
    list-style: none;
    color: #D8D2CB;
    margin-bottom: 20px;
}
.datos-contacto li a {
    color: #D8D2CB;
    text-decoration: none;
}
.datos-contacto img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.container-ubicacion {
    width: 50%;
    height: 50vh;
}
.container-ubicacion img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.container-ubicacion h4 {
    color: #fff;
    margin-top: 0;
}
.container-ubicacion p {
    color: #D8D2CB;
    width: fit-content;
}
.container-ubicacion iframe {
    border-radius: 10px;
}
/* estilos animacion de tag de cada section */
.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}
.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}

/*integrales.html*/
.integrales {
    width: 100%;
    height: 100vh;
    background-color: #EEEEEE;
    display: flex;
    
}
.container-integrales {
    width: 90%;
    height: 90vh;
    margin: 100px 70px 70px 90px;
}
.container-integrales h2 {
    font-size: 18px;
    font-weight: 500;
color: #F15412;
margin-bottom: 60px;
border-bottom: 2px solid;
    padding-bottom: 10px;
    width: fit-content;
}
.texto-integrales {
    width: 45%;
    height: 90vh;
}
.texto-integrales p {
    font-size: 16px ;
    line-height: 20px;
    letter-spacing: 2px;
    color: #03045E;
    font-weight: 600;
    padding-bottom: 10px;
    margin-top: 0;
}
.texto-integrales p:nth-child(4) {
    color: #398AB9;
}
.integrales-img {
    width: 45%;
    height: 90vh;
    filter: brightness(110%);
}
.slide {
    width: 550px;
    height: auto;
    animation: slide 4s; 
    position: absolute;
    border-radius: 10px;
}
@keyframes slide {
    from {
      transform: translate(-50%);
    }
    to {
      transform: translate(0%);
    }
  }
.container-txt-img {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.audiovisual {
    width: 100%;
    height: fit-content;
    background-color: #EEEEEE;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-image: url(/images/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(120%);
}
.container-audiovisual {
    width: 45%;
    height: fit-content;
    margin: 130px 70px 70px 90px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    /* From https://css.glass */
background: rgba(238, 238, 238, 0.79);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
border: 1px solid rgba(238, 238, 238, 0.19);
}
.container-audiovisual h2 {
    font-size: 18px;
    font-weight: 500;
color: #F15412;
margin-bottom: 60px;
border-bottom: 2px solid;
    padding-bottom: 10px;
    width: fit-content;
}

.container-txt-audiovisual {
    width: 100%;
    height: auto;
}
.container-txt-audiovisual p {
    color: #01023f;
    font-size: 16px;

}
.container-txt-audiovisual ul li {
    color: #03045E;
    margin-left: 20px;
    line-height: 38px;
}
.container-txt-audiovisual ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
 
}
.container-thumbnail img {
    width: 200px;
    border: 1px solid #C0C0C0;
    padding: 5px;
    border-radius: 5px;
    margin-right: 25px;
    margin-top: 10px;
}
.container-thumbnail img:hover {
    box-shadow: 5px 4px 8px #398AB9;
}
.sonido {
    width: 100%;
    height: 110vh;
    background-color: #EEEEEE;
    display: flex;
}
.container-sonido {
    width: 90%;
    height: 90vh;
    margin: 100px 70px 70px 90px;
}
.container-sonido h2 {
    font-size: 18px;
    font-weight: 500;
color: #F15412;
margin-bottom: 60px;
border-bottom: 2px solid;
    padding-bottom: 10px;
    width: fit-content;
}
.sonido-txt-img {
    width: 90%;
    height: 90vh;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sonido-txt {
    width: 50%;
}
.sonido-img img {
    width: 550px;
    border-radius: 10px;
}
.sonido-img {
    width: 45%;
}
.sonido-txt ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.sonido-txt ul li {
    margin-left: 20px;
    line-height: 38px;
}
.sonido-txt p:nth-child(3) {
    color: #398AB9;
}
.comunicacion {
    width: 100%;
    height: 100vh;
    background-color: #EEEEEE;
    display: flex;
}
.container-comunicacion {
    width: 90%;
    height: 90vh;
    margin: 100px 70px 70px 90px;
}
.container-comunicacion h2 {
    font-size: 18px;
    font-weight: 500;
color: #F15412;
margin-bottom: 60px;
border-bottom: 2px solid;
    padding-bottom: 10px;
    width: fit-content;
}
.comunicacion-txt-img {
    width: 90%;
    height: 90vh;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.comunicacion-txt {
    width: 50%;
}

.comunicacion-txt ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.comunicacion-txt ul li {
    margin-left: 20px;
    line-height: 38px;
}
.comunicacion-txt p:nth-child(3) {
    color: #398AB9;
}
.comunicacion-img {
    width: 45%;
    display: flex;
}
.comunicacion-img-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}
.comunicacion-img img {
    width: 70px;
}
.col-md-4 {
    position: relative;
    left: 22%;
    top: 14%;
}
.col-md-6 {
    position: relative;
    right: 20%;
    top: 4%;
}
.col-md-12 {
    position: relative;
    right: 62%;
    top: 10%;
}
.fotografia {
    width: 100%;
    height: 120vh;
    background-color: #EEEEEE;
    display: flex;
}
.container-fotografia {
    width: 90%;
    height: 100vh;
    margin: 100px 70px 70px 90px;
}
.container-fotografia h2 {
    font-size: 18px;
    font-weight: 500;
color: #F15412;
margin-bottom: 60px;
border-bottom: 2px solid;
    padding-bottom: 10px;
    width: fit-content;
}
.fotografia-txt-img {
    width: 90%;
    height: 100vh;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fotografia-txt {
    width: 50%;
    height: 100vh;
}

.fotografia-txt ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.fotografia-txt ul li {
    margin-left: 20px;
    line-height: 38px;
}
.fotografia-txt p {
    margin-bottom: 10px;
}
.fotografia-txt p:nth-child(3) {
    color: #398AB9;
}
.fotografia-img {
    width: 45%;
    display: flex;
}
.fotografia-img-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fotografia-img img {
    width: 350px;
    border-radius: 10px;
}
#fotografiaImg2 {
    position: relative;
    bottom: 8%;
    width: 380px;
}
#fotografiaImg1 {
    position: relative;
    left: 53%;
}

.feedbackMovil {
    width: 100%;
    height: 120vh;
    background-color: #EEEEEE;
    display: flex;
}
.container-feedbackMovil {
    width: 90%;
    height: 100vh;
    margin: 100px 70px 70px 90px;
}
.container-feedbackMovil h2 {
    font-size: 18px;
    font-weight: 500;
color: #F15412;
margin-bottom: 60px;
border-bottom: 2px solid;
    padding-bottom: 10px;
    width: fit-content;
}
.feedbackMovil-txt-img {
    width: 90%;
    height: 100vh;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feedbackMovil-txt {
    width: 50%;
    height: 100vh;
}

.feedbackMovil-txt ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.feedbackMovil-txt ul li {
    margin-left: 20px;
    line-height: 38px;
}
.feedbackMovil-txt p {
    margin-bottom: 10px;
}
.feedbackMovil-txt p:nth-child(4) {
    color: #398AB9;
}
.feedbackMovil-img {
    width: 45%;
    display: flex;
}
.feedbackMovil-img-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feedbackMovil-img img {
    width: 350px;
    border-radius: 10px;
}
#feedbackMovilImg2 {
    position: relative;
    bottom: 15%;
    left: 5%;
    width: 400px;
}
#feedbackMovilImg1 {
    position: relative;
    left: 53%;
}
/*encuestas*/
.section-encuestas {
    width: 100%;
    height: 100vh;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
}
.container-encuestas {
    width: 90%;
    height: 90vh;
    margin: 100px 70px 70px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-encuestas p {
    font-size: 50px;
    color: #F15412;
}
.section-encuestas img {
    width: 100px;
    height: 100px;
}
/* 20 Años*/
.section-20Años {
    width: 100%;
    height: 100vh;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
}
.container-20Años {
    width: 90%;
    height: 90vh;
    margin: 100px 70px 70px 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-20Años p {
    font-size: 50px;
    color: #F15412;
}
.section-20Años img {
    width: 100px;
    height: 100px;
}
/*Media Query*/
@media screen and (min-width: 320px) and (max-width: 768px ) {
    header {
        height: 160px;
    }
    .header-logo {
        width: 180px;
    }
    nav ul li a {
        font-size: 16px;
    }
    nav {
        width: 100%;
    }
    .submenu li  {
        width: 105px;
    }
    .submenu li:hover {
        background-color:#03045E;
    }
        /* estilos main */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container-main {
    width: 95%;
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 0;
}

.main-img {
    height: auto;
    width: 340px;
}
.fade-in-image {
    height: 40%;
}
.container-texto {
    width: 95%;
    height: 55%;
    display: flex;
    flex-direction: column;
}
.container-texto h1 {
    line-height: 35px;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.container-texto h2 {
    font-size: 16px;
    line-height: 26px;
}
/* boton whatsapp */
.fav-btn {
    left: 80%;
}
/* estilos about */
.about {
    height: 160vh;
}
.container-about {
    height: 150vh;
    flex-direction: column-reverse;
}
.container-about-img {
    width: 100%;
    height: auto;
    margin-top: 60px;
}
.mySlides {
    width: 300px;
    height: 280px;
}
.container-about-texto {
    width: 100%;
    max-height: 150vh ;
}
.container-about-texto p {
    font-size: 12px ;
}
.container-about-texto p:nth-child(2) {
    font-size: 16px;
}
.container-btn-about {
    width: 100%;
    flex-direction: column;
}
.container-btn-about a {
    font-size: 14px;
}
/* estilos news */
.news {
    height: 230vh;
    display: flex;
    justify-content: center;
}
.container-news {
    height: 200vh;
    width: 100%;
    margin: 0;
}

.container-cards-news {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.cards {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    flex-direction: column;
}
.cards h3 {
  font-size: 14px;
}
.cards img {
    width: 240px;
    height: auto;
}
.cards p {
    font-size: 14px;
}
.container-news h2 {
    margin-left: 15px;
}
/* estilos social */
.social {
    height: 230vh;
}
.container-social {
    height: 200vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.container-feed-redes {
    flex-direction: column;
    align-items: center;
    height: 200vh;
    width: 100%;
    margin: 0;
}
.feed {
    margin-top: 20px;
    width: 300px;
}
.container-social h2 {
    margin-left: 15px;
    margin-top: 15px;
}
/* estilos multimedia 
.multimedia {
    height: 150vh;
}
.container-multimedia {
    height: 100vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.container-videos {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
}
.container-videos iframe {
    width: 280px;
    height: 250px;
}
.container-multimedia h2 {
    margin-left: 15px;
}*/

/*footer*/
.footer-contact{
    height: 100vh;
    width: 100%;
}
.container-footer {
    height: 100vh;
    display: flex;
    padding-top: 0;
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
}
.container-datosContacto {
    width: 100%;
    height: 40vh;
    display: inline-grid;
    justify-content: space-between;
    margin-left: 20px;
}
.container-datosContacto h4 {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}
.datos-contacto li {
    margin-bottom: 15px;
}
.datos-contacto li a {
    font-size: 14px;
}
.container-ubicacion {
    width: 100%;
    height: 60vh;
    margin-left: 20px;
    margin-top: 40px;
}
.container-ubicacion p {
    font-size: 14px;
}
.container-ubicacion iframe {
    width: 280px;
}
/*integrales.html*/
.integrales {
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.container-integrales {
    height: fit-content;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 150px;
}
.texto-integrales {
    width: 90%;
    height: fit-content;
}
.texto-integrales p {
    line-height: 22px;
}

.integrales-img {
    width: 90%;
    height: fit-content;
}
.slide {
    width: 350px;
    position: relative;
}
.container-txt-img {
    width: 100%;
    height: fit-content;
}
.audiovisual {
    height: fit-content;
    background-image: url(none);
    background-color: #398AB9;
}
.container-audiovisual {
    width: 100%;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}

.container-thumbnail img {
    width: 250px;
}
.sonido {
    height: fit-content;
}
.container-sonido {
    height: fit-content;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 150px;
}
.sonido-txt-img {
    height: fit-content;
}
.sonido-txt {
    width: 90%;
    height: fit-content;
}
.sonido-img img {
    width: 340px;
}
.sonido-img {
    width: 90%;
    height: fit-content;
}
.comunicacion {
    height: fit-content;
}
.container-comunicacion {
    height: fit-content;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 150px;
}
.comunicacion-txt-img {
    height: fit-content;
}
.comunicacion-txt {
    width: 90%;
    height: fit-content;
}
.comunicacion-img {
    width: 90%;
}
.col-md-4 {
    left: 18%;
    top: 25%;
}
.col-md-6 {
    right: -6%;
    top: 10%;
}
.col-md-12 {
    right: 6%;
    top: 24%;
}
.fotografia {
    height: fit-content;
}
.container-fotografia {
    height: fit-content;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 150px;
}
.fotografia-txt-img {
    height: fit-content;
}
.fotografia-txt {
    width: 90%;
    height: fit-content;
}
.fotografia-img {
    width: 90%;
}
.fotografia-img img {
    width: 240px;
}
#fotografiaImg2 {
    bottom: 3%;
    width: 250px;
}
#fotografiaImg1 {
    left: 39%;
}

.feedbackMovil {
    height: fit-content;
}
.container-feedbackMovil {
    height: fit-content;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 150px;
}
.feedbackMovil-txt-img {
    height: fit-content;
}
.feedbackMovil-txt {
    width: 90%;
    height: fit-content;
}

.feedbackMovil-img {
    width: 90%;
}
.feedbackMovil-img img {
    width: 240px;
}
#feedbackMovilImg2 {
    bottom: 0%;
    width: 275px;
}
#feedbackMovilImg1 {
    left: 36%;
}
}
@media screen and (min-width:769px) and (max-width: 1024px) {
    /* estilos main */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container-main {
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 0;
}

.main-img {
    height: auto;
    width: 400px;
    border-radius: 10px;
}
.fade-in-image {
    height: 55%;
}
.container-texto {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
}
.container-texto h1 {
    line-height: 44px;
    font-size: 34px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.container-texto h2 {
    font-size: 20px;
    line-height: 25px;
}
/* boton whatsapp */
.fav-btn {
    left: 88%;
    top: 85%;
}
/* estilos about */
.about {
    height: 160vh;
}
.container-about {
    height: 120vh;
    flex-direction: column-reverse;
}
.container-about-img {
    width: 100%;
    height: auto;
    margin-top: 60px;
}
.mySlides {
    width: 380px;
    height: 340px;
}
.container-about-texto {
    width: 100%;
    max-height: 150vh ;
}
.container-btn-about {
    width: 40%;
}
/* estilos news */
.news {
    height: 180vh;
    display: flex;
    justify-content: center;
}
.container-news {
    height: 150vh;
}
.container-cards-news {
    height: 100vh;
    flex-wrap: wrap;
}
.cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.cards img {
    width: 250px;
    height: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}
.cards h3 {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }

/* estilos social */
.social {
    height: 180vh;
}
.container-social {
    height: 150vh;
}
.container-feed-redes {
    flex-direction: column;
    align-items: center;
    height: 150vh;
}
.feed {
    margin-top: 20px;
}
/* estilos multimedia 
.multimedia {
    height: 130vh;
}
.container-videos {
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
*/

/*footer*/
.container-footer {
    height: 50vh;
}
}

