/* estilos header y nav */
nav {
    width: 100%;
    margin-top: 10px;
}
/* estilos main */
.main-img {
    max-height: 300px;
    max-width: 300px;
}
.container-texto h1 {
    line-height: 40px;
    font-size: 34px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.container-texto h2 {
    font-size: 16px;
}
.btn-contact {
margin-top: 0px;
}
/* boton whatsapp */
.fav-btn {
    left: 84%;
}

/* estilos about */
.about {
    height: 130vh;
}
.container-about {
    flex-direction: column-reverse;
    height: 130vh;
}
.container-about-img {
    width: 100%;
    margin-bottom: 70px;
    margin-top: 50px;
}

.container-about-texto {
    width: 100%;
}
/* estilos news */
.container-cards-news {
    height: fit-content;
    flex-wrap: nowrap;
    justify-content: end;
    overflow-x: auto;
    overflow-y: hidden;
}
.cards {
    width: 75%;
    height: auto;
    display: inline-block;
}
