/* estilos main */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
}
.container-main {
    height: 70vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.main-img {
    max-height: 380px;
    max-width: 340px;
    border-radius: 10px;
}
.fade-in-image {
    height: 50%;
}
.container-texto {
    width: 90%;
    height: 48%;
    display: flex;
    flex-direction: column;
    
}
.container-texto h1 {
    line-height: 50px;
    font-size: 44px;
    margin-top: 5px;
    margin-bottom: 0px;
}
/* boton whatsapp */
.fav-btn {
    left: 88%;
}
/* estilos about */
.container-about {                
    flex-direction: column-reverse;
}
.container-about-img {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.container-about-texto {
    width: 100%;
}
/* estilos news */
.container-cards-news {
    height: 50vh;
    flex-wrap: nowrap;
    justify-content: end;
    overflow-x: auto;
    overflow-y: hidden;
}
.cards {
    width: 50%;
    height: auto;
    display: inline-block;
}
/* estilos social */
.social {
    height: 140vh;
}
.container-feed-redes {
    flex-direction: column;
    align-items: center;
}
.feed {
    margin-top: 20px;
}
/* estilos multimedia */
.multimedia {
    height: 130vh;
}
.container-videos {
    flex-direction: column;
    align-items: center;
}
